# MongoDB Connection
MONGODB_URI=mongodb+srv://lucullus:luculuus-goulette@lucullus.kjhbsz4.mongodb.net/?appName=lucullus

# Admin Auth
ADMIN_PASSWORD=lucullus-goulette

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_IMAGE_COMPRESSION_QUALITY=0.8
NEXT_PUBLIC_MAX_IMAGE_SIZE_MB=1
